

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> Your Crew </title>
</head>

<body>
  <h1>Display your Pirate here</h1>
  <h4>Name: <%= Pirate.all.first.name %></h4>
  <h4>Weight: <%= Pirate.all.first.weight %></h4>
  <h4>Height: <%= Pirate.all.first.height %></h4>


<h2>Display your first ship here</h2>

<h4>Name: <%= Ship.all.first.name %></h4>
<h4>Type: <%= Ship.all.first.type %></h4>
<h4>Booty: <%= Ship.all.first.booty %></h4>

<h2>Display your second ship here</h2>

<h4>Name: <%= Ship.all.last.name %></h4>
<h4>Type: <%= Ship.all.last.type %></h4>
<h4>Booty: <%= Ship.all.last.booty %></h4>

</body>

</html>